<h1><%= link_to "Sample App", root_url%></h1>
<p>
  Basics of ruby programming language can be found at the github repository
  <a href = "https://github.com/girip11/ruby_learning">Ruby learning</a>
</p>
